.customSpan {
    color: rgb(80, 80, 80);
}
.customSpan span{
    font-family: monospace;
    color: rgb(47, 47, 47);
}

.sosmed-icon {
    display: flex;
    width: 55px;
    height: 55px;
}
.sosmed-icon:hover {
    text-shadow: none;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
}

#about, #contact {
    background-color: rgb(245, 245, 245);
}

#header, #sosmed, footer {
    background-color: rgb(225, 225, 225);
}
#header {
    padding-top: 6rem;
}

section {
    padding-top: 5rem;
}
form .dwb-input input:focus, form .dwb-input textarea:focus {
    border-color: rgba(45, 45, 45, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(65, 65, 65, 0.8);
    outline: 0 none;
}