.customSpan {
    color: rgb(80, 80, 80);
    padding-left: 2rem;
}
.customSpan span{
    font-family: monospace;
    color: rgb(47, 47, 47);
}

.sosmed-icon {
    display: flex;
    width: 55px;
    height: 55px;
}
.sosmed-icon:hover {
    text-shadow: none;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
}

.dwb-bg-cerah {background-color: rgb(245, 245, 245);}
.dwb-bg-gelap {background-color: rgb(225, 225, 225);}

.fill-cerah {fill: rgb(245, 245, 245);}
.fill-gelap {fill: rgb(225, 225, 225);}
.fill-cerah2 {fill: rgb(245, 245, 245);}
.fill-gelap2 {fill: rgb(225, 225, 225);}
.fill-hitam {fill: black;}

.border-gelap {border: 6px solid rgb(225, 225, 225);}

#header {
    padding-top: 2.5rem;
}

form .dwb-input input:focus, form .dwb-input textarea:focus {
    border-color: rgba(45, 45, 45, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(65, 65, 65, 0.8);
    outline: 0 none;
}
.float-item {
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 2.4rem;
    bottom: 2.2rem;
    background-color: rgb(225, 225, 225);
    cursor: pointer;
    box-shadow: none;
}

/* Button Switch Toggle to change the theme */
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}
input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].toggle + label::before {
    content: "";
    width: 4em;
    height: 2em;
    background-color: white;
    border-radius: 2em;
    transition: background-color 200ms ease-in-out;
}
input[type="checkbox"].toggle + label::after {
    position: absolute;
    left: .2em;
    content: "";
    width: 1.75em;
    height: 1.75em;
    background-color: rgb(55, 55, 55);
    border-radius: 2em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:focus + label::before {
    border-color: rgba(45, 45, 45, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(65, 65, 65, 0.8);
    outline: 1px;
}

input[type="checkbox"].toggle:checked + label::before {
    background-color: white;
}
input[type="checkbox"].toggle:checked + label::after {
    left: 2em;
    background-color: rgb(225, 225, 225);
}
/* End Switch Button */

.light-theme {
    color: black;
}